.blog {
    margin-top: 200px;
    margin-bottom: 65px;
    &-item{
        display: grid;
        // grid-template-rows: (720px);
        grid-template-columns: 720px 720px;
        grid-auto-rows: 780px 780px ;
    }


    &__descr {
        max-width: 720px;
        min-height: 780px;
        &-first {
            background-color: $main-color;
        }
        &-second {
            background-color: $second-color;
        }
        .right-head {
            margin-top: 150px;
            margin-left: 60px;   
            max-width: 535px;     
        }
        .right-descr
        {
            margin-top: 39px;
            margin-left: 60px;
            max-width: 505px; 
            // font-family: OpenSans;
        } 
        .left-head {
            margin-top: 150px;
            margin-left: 135px;   
            max-width: 500px; 
            text-align: end;
        }  
        .left-descr {
            max-width: 505px; 
            margin-top: 39px;
            margin-left: 135px; 
            text-align: end;
        }       
        
    }
    &__button {
        margin-top: 80px;
        .btn {
            font-size: 29px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.72;
            letter-spacing: 5.8px;
            width: 334px;
            height: 75px;
            padding: 26px 60px 26px 61px;
            background-color: $third-color;
            color: #ffffff;
            
        }
       
        .right-button {         
            margin-left: 62px;
        }
        .left-button {
            margin-left: 305px; 
        }
        
    }

    &__img {  
        img {
            min-height: 780px;
            width: 100%;
            object-fit: cover;
        }
        
    }
}





