.title {
    font-size: 29px;
    &_fz74 {
        font-size: 74px;
        font-weight: bold;
    }
    &_fz62 {
        font-size: 62px;
        font-weight: 800;  
    }
    &_fz58 {
        font-size: 58px;
        font-weight: bold;
        color: #ffffff;
    }
    &_fz33 {
        font-size: 33px;
        font-weight: bold;
    }
    &_fz30 {
        font-family: Montserrat;
        font-size: 30px;
        color: #ffffff;
    }
    &_fz29 {
        font-size: 29px;
        color: #ffffff;
    }
    &_fz27 {
        font-size: 62px;
        font-weight: 800;  
    }
    &_fz25 {
        font-size: 25px;
        font-weight: 600;
    }
    &_fz23 {
        font-size: 23px;
        color: #ffffff;
    }
    &_fz19 {
        font-size: 19px;
        line-height: 1.32;
    }

}